.orders

    h2
        margin: 0 0 2rem
        font-weight: normal
       
    &__paragraphs
        p
            margin-bottom: 1rem
            font-size: 14px
            line-height: 1.4
        p:last-of-type
            margin-bottom: 0