@use '../../style/variables' as var
@use '../../style/mixins' as mixin


.popular-products
    margin: 1rem 1rem 2rem

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1rem

    &__title
        font-size: 24px
        color: var.$headline-color

    &__button
        @include mixin.button()

    // &__products-grid
    //     display: grid
    //     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    //     gap: 1.5rem