@use '../../style/variables' as var
@use '../../style/mixins' as mixin


.popular-products
    padding: 2rem 1rem
    background-color: var.$primary-bg-color

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 2rem

    &__title
        font-size: 24px
        color: var.$headline-color

    &__button
        @include mixin.button()

    &__items
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: auto
        gap: 2rem