// MARK: Hero 
.hero
    background-image: url('../../assets/images/hero.png')
    background-size: cover
    background-repeat: no-repeat
    height: 40vh




// MARK: TABLET
@media screen and (min-width: 601px)
    .hero
        height: 50vh




// MARK: DESKTOP
@media screen and (min-width: 1025px)
    .hero
        height: 90vh