@use '../../style/variables' as var
@use '../../style/mixins' as mixin



.newsletter
    padding: 2rem
    text-align: center
    background-color: var.$primary-bg-color
    
    &__container
        background-color: var.$secondary-bg-color
        padding: 2rem
        box-shadow: 2px 2px 5px 1px rgba(166,166,166,0.75)

    h2
        text-transform: uppercase

    &__description
        margin: 1rem 0 2rem
        font-size: 16px

    &__input
        background-color: var.$box-bg-color
        padding: 1rem
        border: none
        box-shadow: 2px 2px 5px 1px rgba(166,166,166,0.75)

    &__button
        @include mixin.button
        margin: 1rem 0 0