@use '../../style/variables.sass' as var
@use '../../style/mixins.sass' as mixin
    
    

// MARK: Compare
.compare
    position: relative
    background-color: var.$box-bg-color
    padding: 2rem
    display: flex
    flex-wrap: nowrap
    overflow-x: auto
    gap: 2rem

    // MARK: Product Item
    .product-item
        width: 80%
        display: grid
        grid-template-columns: 1fr 1fr
        padding: 1rem
        position: relative
        &__image
            height: 80px
            margin: 0
        &__link, &__output, &__price
            font-size: 12px
            margin: 0
        &__price
            position: absolute
            bottom: .5rem
            right: .5rem
            font-size: 16px


    // MARK: Remove button
    &__remove-product
        position: absolute
        top: .5rem
        right: .2rem
        color: var.$box-bg-color
        background: none
        border: none
        font-size: 20px
        cursor: pointer

    // MARK: Compare button
    &__button
        @include mixin.button()
        display: flex
        justify-content: center
        align-items: center
        gap: 1rem
        color: var.$secondary-text-color




// MARK: TABLET
@media screen and (min-width: 601px)
    .compare
        justify-content: space-between

        // MARK: Product Item
        .product-item
            width: 45%
            &__image
                height: 120px
            &__link, &__output, &__price
                font-size: 16px
            &__price
                font-size: 20px

        // MARK: Compare button
        &__button
            font-size: 18px




// MARK: DESKTOP
@media screen and (min-width: 1025px)
    .compare
        display: grid
        grid-template-columns: 1fr 1fr 1fr auto
        gap: 2rem

        // MARK: Product Item
        .product-item
            gap: 2rem
            align-items: center
            width: 100%

        // MARK: Compare button
        &__button
            grid-column: 4 / 5