@font-face
    font-family: "OpenSans"
    src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf")

@font-face
    font-family: "OpenSans"
    src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    font-style: italic


*
    margin: 0
    padding: 0
    box-sizing: border-box

.error
    color: red
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 90vh


.home
    &__hero
        background-image: url('../assets/images/hero.png')
        background-size: cover
        background-repeat: no-repeat
        background-position: center left
        height: 40vh