@use './variables' as var

    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "OpenSans", sans-serif

.error
    color: var.$error-color
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 90vh

.shop, .about, .contact
    background-color: var.$primary-bg-color
    padding: 150px 1rem 50px
    h1
        color: var.$headline-color
        text-align: center
        text-transform: uppercase