.footer
    // no fixed positioning when done
    position: fixed
    left: 0
    bottom: 0
    background-color: #000000
    width: 100%
    color: #ffffff
    padding: 1rem

    &__payments
        border-top: 1px solid #BBBFCA